/*        main.phpのcss       */
body {
  margin: 0;
}

#wrapper {
  min-height: 100vh;
  position: relative;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #7bd9018d;
  color: #ff1616a2;
}

.title-logo {
  margin-left: 5%;
}

h1 {
  font-size: 20pt;
}

h1 a:visited, h1 a {
  color: #ff1616a2;
  text-decoration: none;
}

.menu-list {
  width: 50%;
}

.menu-list-ul {
  margin-top: 20px;
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 15pt;
}

.menu-list-ul ol a:visited {
  color: #ff1616a2;
}

.menu-list-ul ol {
  min-width: 100px;
}

.container {
  background-color: #11a8cd;
  min-height: 90vh;
}

footer {
  height: 10vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: #7faf42;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  color: #ff1616a2;
}

/*        indexのcss        */

#typing-container-inner {
  margin: 0 auto;
  height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-image {
  width: 700px;
}

#start {
  top: 400px;
  left: auto;
  padding-left: 20px;
  font-size: 40pt;
  letter-spacing: 20px;
  position: absolute;
  background-color: #f4eb46;
}

#tree {
  top: 60px;
  left: 45%;
  position: absolute;
}

#flower {
  top: 170px;
  left: 30%;
  position: absolute;
}

#grass {
  top: 300px;
  left: 60%;
  position: absolute;
}

.tree-get {
  width: 250px;
  left: 8%;
  animation: 0.2s rotation both;
  position: absolute;
}

.flower-get {
  width: 250px;
  left: 8%;
  animation: 0.2s rotation both;
  position: absolute;
}

.grass-get {
  width: 250px;
  margin: 0;
  left: 8%;
  animation: 0.2s rotation both;
  position: absolute;
}

/* .insect-img {
  padding-top: 24px;
} */

@keyframes rotation{
  0%{ transform:rotateZ(0);}
  100%{ transform:rotateZ(-90deg);}
}

.question {
  background: #e2ffcebe;
}

/*        how-to-playのcss        */

.how-to-container-title h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 25pt;
}

.how-to-container-ul {
  width: 30%;
  margin: 0 auto;
  font-size: 15pt;
  line-height: 3.0;
}

.how-to-container-inner h3 {
  margin-top: 40px;
  text-align: center;
  font-size: 20pt;
}

/*         login        */

.auth-container {
  display: flex;
  line-height: 2.5;
}

.login-title, .entry-title {
  text-align: center;
}

.login-container, .entry-container {
  width: 80%;
}

.login-form, .entry-form {
  margin-left: 35%;
}

.login-form dt, .entry-form dt {
  width: 25%;
}

.login-form dd, .entry-form dd {
  width: 50%;
}

.login-btn {
  margin-top: 30px;
  margin-left: 15%;
}

.entry-btn {
  margin-top: 30px;
  margin-left: 20%;
}

/*        管理用画面共通        */

.admin-header, .admin-footer {
  background-color: #3e3e3e;
  color: #dedede;
}

.admin-header {
  border-bottom: 1px solid #3e3e3e;
}

.admin-title-logo {
  width: 30%;
}

.admin-title-logo h1 {
  margin-left: 25%;
}

.admin-menu-list {
  width: 70%;
}

.admin-menu-list-ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.admin-menu-list-ul ol a:visited {
  color: #dedede;
}

.admin-menu-list-ul ol {
  width: 20%;
  height: 70px;
  padding-left: 0;
  display: inline-block;
  border-right: 1px solid #3e3e3e;
  background-color: #696969;
  text-align: center;
  line-height: 65px;
}

.main-container {
  height: 90vh;
  background-color: #696969;
  color: #dedede;
}

.admin-copyright {
  text-align: center;
}

/*        問題文管理画面        */

.title h2 {
  margin: 0;
  text-align: center;
  line-height: 6.0;
}

.question-index-inner {
  height: 58vh;
  overflow-y: scroll;
}

.question-index-inner table {
  margin-top: 30px;
  margin-left: 20%;
  width: 60%;
  border: 1px solid #dedede;
  border-collapse: collapse;
  text-align: center;
}

.question-index-inner table th, .question-index-inner table td {
  border: 1px solid #dedede;
}

.question-index-inner table th {
  width: 20%;
}

.question-index-inner table td {
  width: 40%;
}

.result-modal {
  display: none;
  width: 700px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

/*        モーダル        */

.result-modal {
  background: #d3ff90;
}

h3 {
  margin: 30px;
  font-size: 50px;
  text-align: center;
}
h4 {
  padding-left: 26%;
}

#result-img {
  background: #fff;
  margin: 0 9%;
  height: 140px;
}

p {
  text-align: center;
  padding: 10px 0;
}

.button {
  background: #fff;
  display: flex;
  justify-content: space-around;
  margin: 0 9%;
  height: 80px;
}

.button button {
  height: 60px;
  width: 30%;
  border-radius: 20px;
  border: none;
  background: #d0fb90;
}

/*        図鑑ページ        */

.picturebook-container-title h2 {
  padding-left: 20%;
  padding-top: 10px;
  font-size: 20px;
}

.picturebook-container-inner {
  height: 70vh;
  min-width: 1200px;
  background-image: url(../images/books.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.picturebook-insect-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 25%;
}

.picturebook-insect-container img {
  width: 200px;
}

.insect-block {
  width: 50%;
  height: 200px;
  text-align: center;
  margin-top: 2%;
}

.insect-block p {
  margin: 0;
  padding: 0;
}

.picturebook-container-inner nav .pagination{
  display: flex;
  justify-content: space-between;
  min-width: 900px;
  padding-right: 5%;
}