/*        main.phpのcss       */
body {
  margin: 0;
}

#wrapper {
  min-height: 100vh;
  position: relative;
}

header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #7bd9018d;
  color: #ff1616a2;
}

.title-logo {
  margin-left: 5%;
}

h1 {
  font-size: 20pt;
}

h1 a:visited, h1 a {
  color: #ff1616a2;
  text-decoration: none;
}

.menu-list {
  width: 50%;
}

.menu-list-ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-size: 15pt;
}

.menu-list-ul ol a:visited {
  color: #ff1616a2;
}

.container {
  background-color: #11a8cd;
}

footer {
  height: 69px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  background-color: #7bd9018d;
}

.copyright {
  margin-top: 20px;
  text-align: center;
  color: #ff1616a2;
}

/*        indexのcss        */

#typing-container-inner {
  margin: 0 auto;
  min-height: 80vh;
  position: relative;
  text-align: center;
}

.typing-image {
  width: 60vw;
  height: 80vh;
  left: 20%;
  position: absolute;
}

#start {
  top: 350px;
  left: 40%;
  padding-left: 20px;
  font-size: 40pt;
  letter-spacing: 20px;
  position: absolute;
  background-color: #f4eb46;
}

/*        how-to-playのcss        */

.how-to-container-title h2 {
  margin-top: 40px;
  text-align: center;
  font-size: 25pt;
}

.how-to-container-ul {
  width: 30%;
  margin: 0 auto;
  font-size: 15pt;
  line-height: 3.0;
}

.how-to-container-inner h3 {
  margin-top: 40px;
  text-align: center;
  font-size: 20pt;
}

/*         login        */

.auth-container {
  display: flex;
  line-height: 2.5;
}

.login-title, .entry-title {
  text-align: center;
}

.login-container, .entry-container {
  width: 80%;
}

.login-form, .entry-form {
  margin-left: 35%;
}

.login-form dt, .entry-form dt {
  width: 25%;
}

.login-form dd, .entry-form dd {
  width: 50%;
}

.login-btn {
  margin-top: 30px;
  margin-left: 15%;
}

.entry-btn {
  margin-top: 30px;
  margin-left: 20%;
}

/*        管理用画面共通        */

.admin-header, .admin-footer {
  background-color: #3e3e3e;
  color: #dedede;
}

.admin-header {
  border-bottom: 1px solid #3e3e3e;
}

.admin-title-logo {
  width: 30%;
}

.admin-title-logo h1 {
  margin-left: 25%;
}

.admin-menu-list {
  width: 70%;
}

.admin-menu-list-ul {
  margin: 0;
  display: flex;
}

.admin-menu-list-ul ol a:visited {
  color: #dedede;
}

.admin-menu-list-ul ol {
  width: 20%;
  height: 70px;
  padding-left: 0;
  display: inline-block;
  border-right: 1px solid #3e3e3e;
  background-color: #696969;
  text-align: center;
  line-height: 65px;
}

.question-contener {
  height: 90vh;
  background-color: #696969;
  color: #dedede;
}

.admin-copyright {
  text-align: center;
}

/*        問題文管理画面        */

.question-title h2 {
  margin: 0;
  text-align: center;
  line-height: 6.0;
}

.question-index-inner table {
  margin-top: 30px;
  margin-left: 20%;
  width: 60%;
  border: 1px solid #dedede;
  border-collapse: collapse;
  text-align: center;
}

.question-index-inner table th, .question-index-inner table td {
  border: 1px solid #dedede;
}

.question-index-inner table th:first-child, .question-index-inner table td:first-child {
  width: 10%;
}